[user]
	name = Ratish Punnoose
	email = rjpunno@sandia.gov
[http]
        # System level proxy settings can be set in /etc/gitconfig
        #	Eg.  proxy = http://wwwproxy.xxxx.ccc:80/
        #  Specific settings can also be included.  See include section below.
        sslVerify = false
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status -sb
	last = log -l HEAD
        gr = log --graph --full-history --all --color --pretty=format:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s"
	gr1 = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white) %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
	gr2 = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(bold white) %an%C(reset)' --abbrev-commit
        d = diff --color-words
        nd = diff --no-index --color-words

#[merge]
#	tool = kdiff3
#        conflictstyle = diff3
#[mergetool "kdiff3"]
#	path = c:/Program Files (x86)/KDiff3/kdiff3.exe
#[diff]
#	guitool = kdiff3
#[difftool "kdiff3"]
#	path = c:/Program Files (x86)/KDiff3/kdiff3.exe
[core]
#	editor = \"C:/Program Files (x86)/GitExtensions/GitExtensions.exe\" fileeditor
	editor = emacs
	excludesfile = ~/.gitignore
	fscache = true
[color]
	ui = true

[gui]
	recentrepo = C:/Users/rjpunno/cpp/stkchk/tmp2
[push]
	default = upstream
[gc]
	auto = 256
[include]
        path = ~/.gitconfig.system
